
.add { 
    padding: 16px;
}
.mainBlackColor{
    color: var(--main-black-color);
}
.addForm {
    display: flex;
    align-items: flex-start;
}

.addInput {
    background: unset;
    border: unset;
    padding: 0 40px;

    flex: 1;
    border-bottom: 1px solid var(--main-red-color);
    outline: unset;

    font-family: 'Homemade Apple', 'sans-serif';
    font-size: 3rem;
    text-transform: lowercase;
}

.addBtn {
    font-size: 2.5rem;
    font-family: 'Bungee', 'sans-serif';

    padding: 0px;
    padding-left: 16px;
    cursor: pointer;
    align-items: flex-start;
    background: unset;
    border: unset;
    outline: unset;
}

.addBtn.mainBlackColor:active{
    text-shadow: 1px 1px 2px var(--main-black-color);
}