.todo {
    position: relative;
    flex: 1 0 auto;
    text-align: center;
    max-height: 34px;
    margin: 12px 0 0;
    font-family: "Homemade Apple", "sans-serif";
    font-size: 20px;
    border-bottom: 1px solid var(--main-red-color);
}

.todoText {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    height: 50px;
}