.header {
    display: flex;
    align-items: flex-start;
}

.headerTitle {
    width: 52%;
    text-align: center;
    font-size: 5rem;
    color: var(--main-black-color);
    font-family: 'Homemade Apple', 'sans-serif';
    text-transform: lowercase;
}