* {
    box-sizing: border-box;
}

:root {
    --main-red-color: #e06262;
    --main-black-color: #484848;
}

.main-red-color {
    color: var(--main-red-color);
}

.main-black-color{
    color: var(--main-black-color);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

html {
    font-size: 5px;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #2d2d2d;
    height: 100vh;
}

body , html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 500px;
    height: 700px;
    background-color: #f2eecb;
    border-radius: 4px;
    padding: 32px;
}

.frame {
    border: 1px solid var(--main-black-color);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: flex-start;
}

.header-title {
    width: 52%;
    text-align: center;
    font-size: 5rem;
    color: var(--main-black-color);
    font-family: 'Homemade Apple', 'sans-serif';
    text-transform: lowercase;
}

.header-btn {
    width: 24%;
    font-size: 2.5rem;
    font-family: 'Bungee','sans-serif';
    padding: 16px;
    cursor: pointer;
    background: unset;
    border: unset;
    outline: unset;
}

.header-btn.main-red-color:active{
    border:unset;
    text-shadow: 1px 1px 2px var(--main-red-color);
}
.header-btn.main-black-color:active{
    text-shadow: 1px 1px 2px var(--main-black-color);
}

.add { 
    padding: 16px;
}

.add-form {
    display: flex;
    align-items: flex-start;
}

.add-input {
    background: unset;
    border: unset;
    padding: 0 40px;

    flex: 1;
    border-bottom: 1px solid var(--main-red-color);
    outline: unset;

    font-family: 'Homemade Apple', 'sans-serif';
    font-size: 3rem;
    text-transform: lowercase;
}

.add-btn {
    font-size: 2.5rem;
    font-family: 'Bungee', 'sans-serif';

    padding: 0px;
    padding-left: 16px;
    cursor: pointer;
    align-items: flex-start;
    background: unset;
    border: unset;
    outline: unset;
}

.add-btn.main-black-color:active{
    text-shadow: 1px 1px 2px var(--main-black-color);
}

.todos{
    display: flex;
    flex-direction: column;

    min-height: 500px;
}

.todo {
    position: relative;
    flex: 1 0 auto;
    text-align: center;
    max-height: 34px;
    margin: 12px 0 0;
    font-family: "Homemade Apple", "sans-serif";
    font-size: 20px;
    border-bottom: 1px solid var(--main-red-color);
}

.todo-text {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    height: 50px;
}

.todo-placeholder-text {
    font-family: 'Homemade Apple', 'sans-serif';
    font-size: 20px;
    text-align: center;
    padding: 16px
}

.add-button-placeholder-text{
    font-family: 'Bungee', sans-serif;
    font-size: 2.5rem;
}
